* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*--common paragraph for overall webpage--*/
.para {
    padding: 20px 0 25px;
    font-size: 16px;
    color: #444343;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
}
/*--header design start here--*/
.header-container {
    width: 100%;
    height: 100vh;
    padding: 160px 220px;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
}
.header-info {
    text-align: right;
    width: 500px;
}
.header-info h1 {
    font-size: 55px;
    line-height: 60px;
    font-family: 'Work Sans', sans-serif;
}
.header-btn {
    font-size: 18px;
    font-weight: bold;
    background-color: #0494E8;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 7px;
}
.header-btn:hover {
    background-color: #0494e8d2;
    cursor: pointer;
}

/*--main start here--*/
/*--failures section design start here--*/
.failure-section {
    width: 100%;
    height: 100%;
    padding: 10% 15% 10% 10%;
}
.failure-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.failure-section-image {
    width: 50%;
    height: 100%;
}
.failure-section-image img{
    width: 500px;
    height: auto;
}
.failure-section-info {
    width: 40%;
    height: 100%;
}
.failure-section-info h2 {
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
}
.failure-section-info ul {
    list-style: none;
}
.failure-section-info ul li {
    font-size: 16px;
    color: #444343;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
}
.fa-solid {            /*--check icon--*/
    color: #62ebb2;
}